@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Site Configuration";
}
@model FriscoDev.UI.ViewModel.SiteConfigViewModel
@section head{
    <link rel="stylesheet" type="text/css" href="~/css/footable.core.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/police.min.css">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="~/js/html5.js"></script>
        <script type="text/javascript" src="~/js/respond.js"></script>
    <![endif]-->
    <script src="~/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/js/footable.min.js"></script>
    <script type="text/javascript" src="~/js/footable.paginate.min.js"></script>
    <script src="~/js/Common.js"></script>
    <style>
        .margin0-set {
            margin-left: 0px;
            margin-right: 0px;
        }

        #save, #btncancel {
            color: #FFFFFF;
            background-color: #920813;
            border-radius: 0px;
        }

        input.form-control, select.form-control {
            border-radius: 0px;
        }

        a#addFileContent {
            float: left;
            width: 200px;
            height: 30px;
            line-height: 30px;
            margin: 4px 0px 0;
            background-color: #163241;
            font-size: 14px;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            initUserBackground();
        })
    </script>
    }
<!--hidden value-->
<input type="hidden" id="IsSuper" value="@ViewBag.UserType">
<input type="hidden" id="XValue" value="@ViewBag.XValue" />
<input type="hidden" id="YValue" value="@ViewBag.YValue" />
<input type="hidden" id="PId" value="@ViewBag.PId" />
<input type="hidden" id="PmdId" value="@ViewBag.PmdId" />

<div id="main-area">
    <div id="main-area-content" style="width:900px;overflow:auto;">
        <nav style="height:530px;margin-left: 140px;">
            <div id="page-wrapper" style="width:890px;">
                <div class="row margin0-set">
                    <div class="col-sm-12">
                        <h1 style="text-align:center;">Site Configuration</h1>
                    </div>
                </div>

                <div class="container-fluid" style="padding-top: 20px;padding-bottom: 30px;">
                    <div class="row margin0-set">
                        <div class="col-lg-7 col-lg-offset-1 col-sm-12" style="margin-top: 30px;margin-left:120px;">
                            <form id="form1" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="SiteName" class="col-sm-4 text-right control-label">GPS Default：</label>
                                    <div class="col-sm-8" style="padding-top: 6px;">
                                        <input type="text" class="form-control" name="Default_Location" id="GPSDefault" required placeholder="GPS Default" value="@(Model!=null&&!string.IsNullOrEmpty(Model.Default_Location)?Model.Default_Location:"( 32.968182, -96.716446 )")" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="SiteName" class="col-sm-4 text-right control-label">Site Name：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="SiteName" id="SiteName" required placeholder="Site Name" value="@Model.SiteName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="TimeZone" class="col-sm-4 text-right control-label">Time Zone：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="TimeZone" id="TimeZone"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Organization" class="col-sm-4 text-right control-label">Organization：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="Organization" id="Organization" placeholder="Organization" value="@(Model!=null&&!string.IsNullOrEmpty(Model.Organization)?Model.Organization: "Applied concepts")" type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="City" class="col-sm-4 text-right control-label">City：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="City" id="City" placeholder="City" type="text" value="@Model.City" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="State" class="col-sm-4 text-right control-label">State：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="State" id="State" placeholder="State" value="@Model.State" type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Country" class="col-sm-4 text-right control-label">Country：</label>
                                    <input type="hidden" id="CountryName" value="" name="CountryName">
                                    <div class="col-sm-8">
                                        @Html.Partial("~/Views/Device/Part_Country.cshtml")
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.CountryName))
                                    {
                                        <script>
                                            selected("Country", "@Model.CountryName")
                                        </script>

                                    }

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 text-right control-label">Profile Picture：</label>
                                    <div class="col-sm-8">
                                        <a href="javascript:void(0)" id="addFileContent" style="cursor:pointer;">Upload pictures</a>
                                        <input type="hidden" name="ProfileImgUrl" id="ProfileImgUrl" value="@Model.ProfileImgUrl" />
                                        <div style="width:250px;height:250px">
                                            @{
                                                string imgUrl = "";
                                                if (!string.IsNullOrEmpty(Model.ProfileImgUrl))
                                                {
                                                    imgUrl = string.Format(Url.Content("~/Upload/Images/{0}"), Model.ProfileImgUrl);
                                                }
                                                else
                                                {
                                                    imgUrl = (string)ViewData["ImgUrl"];
                                                }
                                            }
                                            <img src="@imgUrl" id="preview_img" style="width:200px;height:200px" onerror="javascript: this.src = '@Url.Content("~/Upload/Images/header.png")'; this.onerror = null;" alt="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                                        <button id="save" class="btn btn-max default-background" style="width:100px;">Save</button>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="btn default-btn max text-center" id="btncancel" href="@Url.Content("~/User/Index")" role="button" style="width:80px;">Cancel</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="~/js/plupload/plupload.full.min.js"></script>
    <script src="~/js/initMenu.js"></script>
    <script type="text/javascript" src='~/js/public.js'></script>
    <script>
        $(function () {
            initSession();
            initTimeZoom();
        })
        function initSession() {
            var strPmd = $("#XValue").val() + "," + $("#YValue").val() + "," + $("#PId").val() + "," + $("#PmdId").val();
            SetSession(strPmd);
        }
        $("#save").click(function () {
            SubmitOperate();
            return false;
        });
        function SubmitOperate() {
            var params = $("#form1").serializeArray();
            $.post("@Url.Content("~/Site/Save")", params, function (data) {
                if (data.errorCode == 200) {
                    window.location.href = "@Url.Content("~/Site/Index")";
                } else {
                    alert("保存失败，请刷新后重试！");
                    return false;
                }
            }, "json");
            return false;
        }
    </script>
    <script>
        function initTimeZoom() {
            var _timeZone = "Pacific Standard Time";
            $.getJSON("@Url.Content("~/User/GetTimeZoneList")", null, function (data) {
                if (data != null && data.length > 0) {
                    var _html = "";
                    for (var i = 0; i < data.length; i++) {
                        _html = _html + "<option value=\"" + data[i].ZoneValue + "\">" + data[i].ZoneName + "</option>";
                    }
                    $("#TimeZone").html(_html);
                    initSelected();
                }
            });

        }
        function initSelected() {
            selected("TimeZone", "@(string.IsNullOrEmpty(Model.TimeZone)? "Pacific Standard Time" : Model.TimeZone)")
        }
    </script>
    <script>
        var fileUploadUrl = "@Url.Content("~/Upload/UploadImage")";
        var flash_url = "@Url.Content("~/js/plupload/Moxie.swf")";
        var browseId = "addFileContent";
        var uploader_file = new plupload.Uploader({//创建实例的构造方法
            runtimes: 'gears,html5,html4,flash', //上传插件初始化选用那种方式的优先级顺序
            browse_button: browseId, // 上传按钮
            url: fileUploadUrl, //远程上传地址
            flash_swf_url: flash_url,
            filters: {
                max_file_size: '10mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
                mime_types: [//允许文件上传类型
                    { title: "pictures", extensions: "gif,jpg,jpeg,png" }//xls,xlsx,
                ]
            },
            multi_selection: false, //true:ctrl多文件上传, false 单文件上传
            init: {
                FilesAdded: function (up, files) { //文件上传前
                    uploader_file.start();
                },
                UploadProgress: function (up, file) { //上传中，显示进度条
                },
                FileUploaded: function (up, file, info) { //文件上传成功的时候触发
                    var data = eval("(" + info.response + ")");//解析返回的json数据
                    if (data.errorCode == 200) {
                        $("#ProfileImgUrl").val(data.errorStr);
                        var imgUrl = "@Url.Content("~/Upload/Images/")" + data.errorStr;
                        $("#preview_img").attr("src", imgUrl);
                    } else {
                        alert(data.errorStr);
                    }
                },
                Error: function (up, err) { //上传出错的时候触发
                    var errorCode = err.code;
                    switch (errorCode) {
                        case -600:
                            alert("More than 10m files uploaded！");
                            break;
                        case -601:
                            alert("Please upload gif,jpg,jpeg|png format files！");
                            break;
                        case -602:
                            alert("Duplicate file selection! ");
                            break;
                        default:
                            alert("Upload failed! ");
                            break;
                    }
                }
            }
        });
        uploader_file.init();

    </script>
}